extends layout
block content
  h1= title
  form(id='GadjetsForm', action="/resource/Gadjets", method="POST")
    div.form-group
        label.GadjetsAttr(for='Gadjet_Type') Gadjet_Type
        input#Gadjet_Type(type='text', name='Gadjet_Type')
    div.form-group
        label.GadjetsAttr(for='Gadjet_Name') Gadjet_Name
        input#Gadjet_Name(type='text', name='Gadjet_Name')
    div.form-group
        label.GadjetsAttr(for='Gadjet_Price') Gadjet_Price
        input#Gadjet_Price(type='number', name='Gadjet_Price')
    input(type="submit")
  script.
    document.forms['GadjetsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
       // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });